.messages {
    display: flex;
    width: 800px;
    padding: 30px;
    flex-direction: column;
}

.messages-table {
    width: 100%;
}

.messages-table__tr {
    height: 40px;
}

.messages-table__th {
    color: #949494;
    font-size: 16px;
    font-weight: normal;
    text-align: start;
    border-bottom: 1px solid #DDDDDD;
}

.messages-table__th:first-child {
    width: 20%;
}

.messages-table__td:first-child {
    width: 20%;
}

.messages-table__th:last-child {
    text-align: end;
    width: 20%;
}

.messages-table__td:last-child {
    text-align: end;
    width: 20%;
}

.messages-table__td_sent {
    color: #03A100;
;
}

.messages-table__td_queue {
    color: #949494;
}

.messages-table__td_error {
    color: #FF6666;
}

h2 {
    font-size: 24px;
    line-height: 30px;
    font-weight: normal;
}