.input-group {
    flex: 1 1;
}

.input-group__label {
    display: inline-block;
    color: rgba(0, 0, 0, 0.6);
}

.input-group__field {
    border-radius: 5px;
    border: 1px solid #dddddd;
    width: 100%;
}

.input-group__field_left {
    border-radius: 5px 0 0 5px;
}

.input-group__field_right {
    border-radius: 0 5px 5px 0;
}