.drop-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    background: rgba(255, 255, 255, 0.9);
    border: 1px dashed #ccc;
    border-radius: 5px;
}

.drop-message {
    text-align: center;
    user-select: none;
}

.hidden {
    display: none;
}